<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ido"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.example.ido.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ido.view.ViewAllGroupsActivity"
            android:label="@string/activity_view_all_groups_String_title" >
        </activity>
        <activity
            android:name="com.example.ido.view.ViewAllTasksActivity"
            android:label="@string/activity_view_all_tasks_String_title" >
        </activity>
        <activity
            android:name="com.example.ido.view.ModifyGroupActivity"
            android:label="@string/activity_modify_group_String_title" >
        </activity>
        <activity
            android:name="com.example.ido.view.ViewTaskDetailActivity"
            android:label="@string/activity_view_task_detail_String_title" >
        </activity>
        <activity
            android:name="com.example.ido.view.ModifyTaskActivity"
            android:label="@string/activity_modify_task_String_title" >
        </activity>
    </application>

</manifest>